layout {
    background-color "transparent"

    focus-ring {
        active-color   "#bdc2ff"
        inactive-color "#908f9c"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bdc2ff"
        inactive-color "#908f9c"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#bdc2ff"
        inactive-color "#908f9c"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bdc2ff80"
    }
}

recent-windows {
    highlight {
        active-color   "#001ae2"
        urgent-color   "#ffb4ab"
    }
}